  .bloc-icon img {
    width: 100px;
    background-color: white;
  
  }
  
  .bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  
  
  }
  .mobile-nav {
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
