.btn-success, .btn-success:active{
  color: #088c04 !important;
  border: #088c04 1px solid;
  background-color: white;
  pointer-events:none;
}
.btn-success:hover{
  background-color: white !important;
  color: #088c04 !important;
  pointer-events:none;

}
